<%= form_for(@transaction, :html => { :role => "form"}) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :amount %><br>
    <%= f.text_field :amount, class: "form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :date %><br>
    <%= f.text_field :date,  class: "form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :comment %><br>
    <%= f.text_field :comment, class: "form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :account_id %><br>
     <%= f.select :account_id, Account.all.collect {|a| [ a.name, a.id ] }, { :include_blank => true, :selected => @transaction.account_id}, class: "form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :income %><br>
    <%= f.check_box :income, class: "form-control" %>
  </div>
  <br>
    <div class="form-group">
    <%= f.label :expense %><br>
    <%= f.check_box :expense, class: "form-control" %>
  </div>
  <br>  
  <div class="form-group">
  <%= f.label :category_id %><br>
  <%= f.select :category_id, Category.all.collect {|c| [ c.name, c.id ] }, { :include_blank => true, :selected => @transaction.category_id}, class: "form-control" %>
  </div> 
<br>  


  <br>
  <div class="actions">
    <%= f.submit %>  
  </div>
<% end %>
