
<table class="table table-hover" border=1 >
  <thead>
    <tr>
      <th>Amount</th>
      <th>Date</th>
      <th>Comment</th>
       <th>Category</th>
      <th>Acount</th>
      <th></th>
      <th></th>
    </tr>
  </thead>



  <tbody>
<!-- isduoda irasytus duomenis ir lenteles remai. duomenis iraso i lentele-->
 <% transactions.each do |transaction| %>

      <tr>
        <td><%= transaction.amount %></td>  
        <td><%= transaction.date %></td>
        <td><%= transaction.comment %></td>     
        <td><%= transaction.account.name if transaction.account %></td>
        <td><%= transaction.category.name if transaction.category %></td>

        <td><%= link_to 'Edit', edit_transaction_path(transaction), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', transaction, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
   <% end %>
  </tbody>
</table>